{% extends 'base.html.twig' %}

{% block title %}Ficha{% endblock %}

{% block body %}

    <div class="cuadroExteriorInfo col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
        {% block ficha %}{% endblock %}
    </div>

    <footer>
        <div class="social">
            <div id="circuloredsocial">
                <i id="iconos" class="fab fa-facebook-f fa-2x" style="color: #3D5A98;"></i>
            </div>
            <div id="circuloredsocial">
                <i id="iconos" class="fab fa-instagram fa-2x" style="color: rgb(240, 52, 183);"></i>
            </div>
            <div id="circuloredsocial">
                <i id="iconos" class="fab fa-youtube fa-2x" style="color: #D72522;"></i>
            </div>
            <div id="circuloredsocial">
                <i id="iconos" class="fab fa-twitter fa-2x" style="color:rgb(97, 230, 240);"></i>
            </div>

            <div id="circuloredsocial">
                <i id="iconos" class="fas fa-envelope fa-2x" style="color:rgb(199, 191, 179);"></i>
            </div>
            <div id="circuloredsocial">
                <i id="iconos" class="fas fa-phone fa-2x" style="color:rgb(224, 162, 69);"></i>
            </div>


        </div>
        <br>
        <div class="paginas">

            <i class="fas fa-phone-square" style="color: #FE5E00;"> Telefono  |</i>

            <i class="fas fa-street-view" style="color: #FE5E00;"> Direccion  |</i>

            <i class="fas fa-envelope" style="color: #FE5E00;"> Correo</i>



        </div>


        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3082.059012904436!2d-0.3814876846340603!3d39.42278997949309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604eb5e3f3853b%3A0xce306357cc44ad9!2sLogos+Basket+Sedav%C3%AD!5e0!3m2!1ses!2ses!4v1549366079712"
                    width="100%" height="160" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="footer2">
            <img src="{{ asset('img/imagenlogo.png') }}" alt="">
            <br>
            COPYRIGHT &copy; LOGOS BASKET
        </div>


    </footer>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ficha.css') }}">
{% endblock %}
